*{
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
  }
body{
    --primary: salmon;
    --base-font: Arial, Helvetica, sans-serif;
    --display-font: 'Montserrat', sans-serif;
}
section{
    min-height: 100vh;
}
section p{
    font-size: 30px;
    font-family: var(--display-font)
}
.d-flex{
    display: flex;
}
.jcc{
    justify-content: center;
}
.aic{
    align-items: center;
}
.align-center-both{
    align-items: center;
    justify-content: center;
}
h2{
    font-size: 50px;
    font-family: var(--display-font);
    font-weight: 400;
}
.container{
    background-image: url(https://images.unsplash.com/photo-1624696941338-934bf86c28b4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
}
main{
    z-index: -1;
}

/* *************** HEADER Section ***************** */
header{
    background: rgba(255,255,255,0);
    color: #fff;
    justify-content: space-between;
    padding: 40px;
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    width: 100%;
    z-index:1;
}
header nav {
    position: relative;
}
.me{
    width: 50px;
    border-radius: 50%;
}
.links{
    position: fixed;
    top: -375px;
    right: -375px;
    background-color: rgba(255,255,255,.1);
    width: 350px;
    height: 350px;
    border-radius: 50%;
    font-family: var(--base-font);
    z-index: 2;
}
.links ul{
    position: relative;
    top: 182px;
    left: 50px;
}
.links li{
    list-style-type: none;
    margin: 5px;
}
.links li a{
    color: #fff;
    text-decoration: none;
}
.links li a:hover{
    color: #9e9e9e;
    cursor: pointer;
}
.fade-in{
    animation-name: fade-in;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    pointer-events: auto;
}
@keyframes fade-in {
    0%{opacity: 0;}
    100%{opacity: 1}
}
.fade-out{
    animation-name: fade-out;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    pointer-events: none;
}
@keyframes fade-out {
    0%{opacity: 1;}
    100%{opacity: 0}
}
.slide-in{
    animation-name: slide-in;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}
@keyframes slide-in{
    0%{
        top: -375px;
        right: -375px;
    }
    100%{
       top: -175px;
       right: -175px;
   }
}
.slide-out{
    animation-name: slide-out;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}
@keyframes slide-out{
    0%{
        top: -175px;
        right: -175px;
    }
    100%{
       top: -375px;
       right: -375px;
   }
}

nav .bars{
    display: flex;
    flex-direction: column;
    gap:3px;
}
nav:hover{
    cursor: pointer;
}
.bar{
    width: 30px;
    height:8px;
    background-color: #fff;
    position: relative;
}
.bar.top,
.bar.bottom{
    left:2px;
}
.close {
    position: relative;
    top: 185px;
    left: 148px;
    color: #8a8989;
    z-index: 1;
    background: none;
    border:none;
}
/* *************** HERO Section ***************** */
.hero{
    color: #fff;
    font-family: var(--display-font);
    padding-left: 200px;
    padding-top:200px;
    height: 100vh;
}
.hero h1{
    font-size: 100px;
    font-weight: 400;
    margin-bottom: 0;
}
p.subtitle{
    font-size: 42px;
    margin-top: 0;
    position: relative;
    left: 10px;
    letter-spacing: 4px;
}

/* *************** ABOUT Section ***************** */
#about{
    background-color: rgba(0,0,0, 0.4);
    backdrop-filter: blur(10px);
    color: #fff;
    padding: 100px 200px;
    font-family: var(--base-font);
}

footer{
    
}